<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/dis-timeintervaldataanalyzer/test/net/meisen/dissertation/help/DbRunner.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.meisen.dissertation.help.DbRunner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="tidaGhTasks"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dis-timeintervaldataanalyzer"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:dis-timeintervaldataanalyzer/_eclipse}"/>
</launchConfiguration>
